* {
  font-family: "Oswald", sans-serif;
}
.page-content {
  background-color: #4869c5;
}
.new-task {
  height: 10vh;
  display: flex;
  align-items: center;
}
.new-task-btn {
  background-color: #3bbe92;
  color: white;
  width: fit-content;
  padding: 10px 30px;
  font-size: 24px;
  font-weight: 600;
  border-radius: 6px;
  margin-left: 30px;
  cursor: pointer;
}
.input-container {
  margin-top: 10px;
}

.container {
  width: 100%;
  min-height: 90vh;
  height: fit-content;
  display: flex;
  justify-content: center;
}
.content {
  width: 90%;
  display: flex;
}

.section-container {
  background-color: #e5eff5;
  flex: 1;
  margin: 10px 25px;
  padding: 10px;
  height: fit-content;
  border-radius: 6px;
}
.section-header {
  font-size: 24px;
  font-weight: 600;
}

.card-container {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
}

.card-tag {
  width: 35px;
  border-radius: 10px;
  height: 10px;
}

.card-title {
  font-size: 22px;
  font-weight: 600;
}
.card-description {
  font-size: 16px;
  text-align: justify;
  margin: 8px 0px;
}

.card-footer {
  display: flex;
  margin-top: 15px;
}

.card-ddl {
  background-color: grey;
  width: fit-content;
  padding: 0px 10px;
  border-radius: 4px;
  color: white;
  font-size: 14px;
}
.card-actions {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
}
.action {
  margin: 0px 10px;
  color: #086ad8;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .content {
    flex-direction: column;
  }
  .section-container {
    padding: 10px 30px;
  }
}
